@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --pomodoro: #048ba8ff;
  --shortBreak: #f18f01ff;
  --longBreak: #99c24dff;
  --jet: #2f2d2eff;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--pomodoro);
  transition: background-color 1s ease;
  font-family: 'Montserrat', sans-serif;
  color: var(--jet);
}

progress {
  border-radius: 2px;
  width: 100%;
  height: 12px;
  position: fixed;
  top: 0;
}

progress::-webkit-progress-bar {
 background-color: rgba(0, 0, 0, 0.1);;
}

progress::-webkit-progress-value {
  background-color: #fff;
}

.timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
}

.clock {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 15rem;
  line-height: 1;
  display: flex;
  align-items: center;
}

.mode-button {
  font-size: 1rem;
  cursor: pointer;
  box-shadow: none;
  color: #fff;
  border: 1px solid transparent;
  margin: 0px;
  border-radius: 4px;
  padding: 1rem;
  background: none;
}

.mode-button.active { border-color: #fff; }

.main-button {
  cursor: pointer;
  box-shadow: rgb(235, 235, 235) 0px 6px 0px;
  font-size: 22px;
  height: 55px;
  text-transform: uppercase;
  width: 200px;
  background-color: white;
  border-width: initial;
  border-style: none;
  margin: 20px 0px 0px;
  padding: 0px 12px;
  border-radius: 4px;
  transition: color 0.5s ease-in-out 0s;
}

button:focus, button:active {
  outline: none;
}

.main-button.active {
  transform: translateY(6px);
  box-shadow: none;
  outline: none;
}

.hidden { display: none; }

@media screen and (max-width: 550px) {
  .clock { font-size: 8rem; }
}
