@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
:root {
    --robin-egg-blue: #1ccad8ff;
    --turquoise: #15e6cdff;
    --box-shadow: 5px 5px 10px -2px rgba(0,0,0,0.3);
    --font: 'Shadows Into Light', cursive;
    --border-radius: 5px;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font);
    font-size: 16px;
    background-color: var(--robin-egg-blue);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 10em 1em;
}

.container {
    padding: 1rem 1.5rem;
    max-width: 50%;
    height: fit-content;

    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

    display: flex;
    flex-direction: column;
}

p {
    font-size: 2rem;
    text-align: center;
    position: relative;
    padding-bottom: 1rem;
    line-height: 1.2;
}

#quote::before {
    content: open-quote;
    font-size: 2.5rem;
}
#quote::after {
    content: close-quote;
    font-size: 2.5rem;
}

#author { font-size: 1.2rem; }

#author::before {
    content: "~";
    position: absolute;
    top: 5px;
    margin-left: -15px;
}

#generate {
    background-color: var(--turquoise);
    padding: 1rem 2rem;
    border: none;
    border-radius: var(--border-radius);
    font-size: 1.2rem;
    font-family: var(--font);
    box-shadow: var(--box-shadow);
    width: 10rem;
}