@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap');

:root {
    --eerie-black: #1e201dff;
    --snow: #f8f9faff;
    --paradise-pink: #ea526fff;
    --dark-turquoise: #25ced1ff;

    --champagne-pink: #fceadeff;
    --coral: #ff8a5bff;
}

body {
    font-size: 16px;
    font-family: 'Albert Sans', sans-serif;
    color: var(--eerie-black);
    text-transform: capitalize;
}

h1, h3{ 
    letter-spacing: 0.1em;
    line-height: 1.5;
    text-align: center;
}

h1 { font-size: 2.5rem; }
h3 { font-size: 1.5rem; }

.app {
    display: flex;
    place-items: center;
    padding: 6.5rem;
}

.questions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.question-box {
    background-color: var(--eerie-black);
    color: var(--snow);
    border-radius: 1em;
    padding: 0 2.5em 1em;
    text-align: left;
    font-size: 1.1em;
    box-shadow: 1em 1em 3em -2em rgba(0,0,0,1);
}

.question-box h1 {
    color: var(--paradise-pink);
    text-align: left;
}

.question-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.question-btn {
    padding: 0.6em 1.5em;
    border-radius: 1em;
    color: var(--snow);
    border: none;
    background-color: var(--dark-turquoise);
    font-size: 0.9em;
    text-transform: capitalize;
}

.question-btn:disabled {
    background-color: #595959;
    color: #a5a5a5;
}

.answer-display {
    height: auto;
    display: flex;
    place-items: center ;
    margin-top: 1em;
    color: var(--snow);
}
.answer-display.correct { color: rgb(211, 211, 117); }
.answer-display.wrong { color: rgb(211, 134, 117); }